---
import Layout from '../layouts/Layout.astro';
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "../../@/components/ui/table"
import { VertuoCoffees } from '../components/data.astro';



---



<Layout title="Welcome to Astro.">
	<main>
		<p class="instructions">
			<!-- To get started, open the directory <code>src/pages</code> in your project.<br /> -->
			<strong>Vertuo Line Caffeine Content Info</strong>
		</p>
		<div>
				
					<Table>
						<TableHeader>
							<TableRow>
								<TableHead className="font-medium text-center">Name</TableHead>
								<TableHead className="font-medium text-center">Type</TableHead>
								<TableHead className="font-medium text-center">Size</TableHead>
								<TableHead className="font-medium text-center">Profile</TableHead>
								<TableHead className="font-medium text-center">Roast</TableHead>
								<TableHead className="font-medium text-center">Caffeine</TableHead>
							</TableRow>
						</TableHeader>
						<TableBody>
							{VertuoCoffees.map((coffee) => {
					return (
				  <TableRow>
					<TableCell className="font-medium">{coffee.name}</TableCell>
					<TableCell>{coffee.type}</TableCell>
					<TableCell>{coffee.size}</TableCell>
					<TableCell>{coffee.profile}</TableCell>
					<TableCell className="capitalize">{coffee.roast.toLocaleLowerCase()}</TableCell>
					<TableCell>{coffee.caffeine}</TableCell>
				  </TableRow>
				  )
				})}
				</TableBody>
						</Table>
					
			
			  
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1100px;
		max-width: calc(100% - 2rem);
		color: white;
		text-align: center;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1rem;
		border-radius: 8px;
		text-align: center;
	}

</style>